<div id="search-form" class="lity-hide">
  <form name="search" role="search" method="get" id="searchform" class="searchform" action="{{ site.url }}">

    <div class="form-item search-field">
      <input type="text" value="" name="s" placeholder="Search" aria-label="Search" required autofocus>
      <button type="submit" id="search-submit" aria-label="{{ __('Submit') }}">
        Submit
         {# <svg class="icon"><use xlink:href="{{ site.theme.link }}/images/optimized/icons.svg#search"></use></svg> #}
      </button>
    </div>
  </form>
</div>
